version: '{build}'
image: Visual Studio 2022
environment:
  SONARCLOUD_TOKEN:
    secure: zP3yL8OgEY/gjfooti1esakQ0qHOwPl0GOoGugNS+61PxWOphHIndkOP/G3Glq96
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
nuget:  
  disable_publish_on_pr: true
build_script:
- ps: .\Build.ps1
test: off
artifacts:
- path: '**\*.nupkg'
  name: NuGet
deploy:
- provider: NuGet
  server: https://www.myget.org/F/skarp/api/v2/package
  api_key:
    secure: QUUDwCiAHecwSEHztB/ANurfoE3BMOpibwyPmr852U3a7VEamjUTfpzv86wVCjLD
  skip_symbols: true
  on:
    branch: master
- provider: NuGet
  name: production
  api_key:
    secure: 8Ph4533opmtgz6UoSd3SaFj9I/ClVYzjV96gPkJrghveKojEbn5rI/RalUK8kS7f
  on:
    appveyor_repo_tag: true